$headings: (
  h1: 6.7em,
  h2: 4em,
  h3: 1.6em,
  h4: 1.3em,
  h5: 0.8em,
  p: 1.1em
);
$colors: (
  A: #000000,
  B: #1729c5,
  C: #0099dd,
  D: #00ca54,
  E: #7a2a6e,
  F: #db3b23,
  G: #f2c12e
);
$b-radius: (
  small: 0.3em,
  medium: 0.8em,
  large: 1.2em
);

$text-color-light: #ffffff;
$text-color-dark: #000;
