.footer {
  /*   background-color: #000000; */
  height: 100%;
  text-align: center;
}

.footerContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconContainer {
  display: flex;
  align-items: center;
}

.footerText {
  font-size: 14px;
  color: #fff;
}
