@use "../abstracts/vars.scss" as *;
@use "../abstracts/fn.scss" as *;

.header {
  justify-content: space-between;
  background-color: map-get($colors, A);
  .header__logo {
    margin-left: 1em;
    height: 100px;
  }
  .header__nav {
    margin-right: 2em;
    .nav__item {
      margin-left: 6px;
      padding: 8px;
      color: $text-color-light;
    }
  }
}
