@use '../abstracts/vars' as *;
@use '../abstracts/fonts' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as fn;



.fullpage {
  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    &__name {
      font-size: map-get($headings, h1);
      text-shadow: fn.shadow(map-get($colors, B));
      font-family: $font-title;
      letter-spacing: 2px;
      color: $text-color-light;
      animation-duration: 2s;
      animation-delay: 0.25s;
      animation-name: slideIn;
    }

    @keyframes slideIn {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    &__role {
      margin-right: 2em;
      font-size: map-get($headings, h3);
      font-family: $font-subtitle-it;
      color: $text-color-light;
      opacity: 0;
      animation-fill-mode: forwards;
      animation-name: role;
      animation-delay: 2s;
      animation-duration: 2.5s;
    }

    @keyframes role {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    
      @include respond-to(sm) {
        &__name {
          font-size: map-get($headings, h2);
        }
        &__role {
          font-size: map-get($headings, h3);
        }
      }
  }


}