@use '../abstracts/vars' as *;
@use '../abstracts/fonts' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as fn;



.name {
  font-size: map-get($headings, h1);
  text-shadow: fn.shadow(map-get($colors, B));
  font-family: $font-title;
  letter-spacing: 1px;
  color: $text-color-light;
  animation-duration: 2s;
  animation-delay: 0.25s;
  animation-name: slideIn;
}

@keyframes slideIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.role {
  font-size: map-get($headings, h3);
  font-family: $font-subtitle-it;
  color: $text-color-light;
  justify-items: start;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: role;
  animation-delay: 2s;
  animation-duration: 2.5s;
}

@keyframes role {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@include respond-to(sm) {
  .name {
    font-size: map-get($headings, h2);
  }

  .role {
    font-size: map-get($headings, h3);
  }
}