@forward "./abstracts/vars.scss";

@forward "./abstracts/gradients.scss";
@forward "./abstracts/fonts.scss";

//@use "./sections/Header.scss";
@use "./sections/Hero.scss";
@use "./sections/Certificate.scss";
@use "./sections/Tech.scss";
@use "./sections/Navbar.scss";
//@use "./sections/Service.scss";
//@use "./sections/Footer.scss";
//@use "./pages/Contact.scss";


@tailwind base;
@tailwind components;
@tailwind utilities;




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;

}
  

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

@mixin dots($count) {
  $text-shadow: ();
  @for $i from 0 through $count {
    $text-shadow: $text-shadow,
      (-0.5+ (random()) * 4) +
        em
        (-0.5+ (random()) * 4) +
        em
        7px
        hsla(random() * 360, 100%, 50%, 0.9);
  }
  text-shadow: $text-shadow;
}


html {
  background: rgba(0, 0, 0, 0);

}

body {
  display: block;
  color: transparent;
  background: rgb(0, 0, 0);
//!KEY BACKGROUND MASTER
/*   background: linear-gradient(
    90deg,
    rgb(181, 8, 8) 0%,
    rgb(0, 255, 136) 50%,
    rgb(0, 13, 255) 100%
  ); */

  animation: gradient 15s ease infinite;
/* filter: blur(0.5px); */
}


body::before,
body::after {
  z-index: -1000;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}

body::before { 
  @include dots(80);
  animation-duration: 22s;
  animation-delay: -17s;
}

body::after {
  @include dots(80);
  animation-duration: 18;
  animation-delay: -14s;
  animation-direction: reverse;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}
  
::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
  background-color: #000000; /* Fondo negro */
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* Color de la barra de desplazamiento */
  border-radius: 5px; /* Borde redondeado */  
}