@forward "./abstracts/vars.scss";

@forward "./abstracts/gradients.scss";
@forward "./abstracts/fonts.scss";

//@use "./sections/Header.scss";
@use "./sections/Navbar.scss";
@use "./sections/Hero.scss";
@use "./sections/Background.scss";
@use "./sections/Certificate.scss";
@use "./sections/Tech.scss";
@use "./sections/Footer.scss";
//@use "./sections/Service.scss";
//@use "./pages/Contact.scss";


@tailwind base;
@tailwind components;
@tailwind utilities;




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;

}
  

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}



html {
  background: rgb(0, 0, 0);

}


  
::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
  background-color: #000000; /* Fondo negro */
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* Color de la barra de desplazamiento */
  border-radius: 5px; /* Borde redondeado */  
}